{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "pragma": "Preact.h",
        "pragmaFrag": "Preact.Fragment"
      }
    ],
    "@babel/preset-typescript"
  ]
}
