.checkup {
  background: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// Dark theme
.checkup-dark {
  --black: #ffffff;
  --gray-light: #222222;
  --gray: #959595;
  --white: #000000;
}

// Styleguide-only `height`
#rsg-root .checkup {
  height: 400px;
  margin: auto;
  max-width: 450px;
}

.checkup-content {
  // Include the background so the UA styles the scrollbar appropriately
  // in the dark theme
  background: var(--white);
  flex: 2;
  overflow: auto;
}
.checkup-controls {
  border-top: 2px solid var(--black);
  display: flex;
}
.checkup-controls-spacer {
  flex-grow: 2;
}
