.checkup {
  background: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// Dark theme
.checkup-dark {
  background: var(--black);
  color: var(--white);
}

// Styleguide-only `height`
#rsg-root .checkup {
  height: 400px;
  margin: auto;
  max-width: 450px;
}

.checkup-content {
  flex: 2;
  overflow: scroll;
}
.checkup-controls {
  border-top: 2px solid var(--black);
  display: flex;
}
.checkup-controls-spacer {
  flex-grow: 2;
}
