@import "../variables";

.IconButton {
  background: none;
  border: none;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  line-height: 1;
  margin: 0;
  padding: .125rem;
  text-align: center;
  transition: background $transition-duration;

  &:active,
  &:hover {
    background: $gray-light;
  }

  i {
    transform: scale(.6);
  }
}
