@import '../_variables';

.Job {
  display: flex;
  padding: .75rem;
}

/// Icons
.Job-icon {
  color: $gray;
  margin-right: .75rem;
}
.Job-icon-ok {
  color: $green;
}
.Job-icon-error {
  color: $red;
}

/// Content
.Job-content {
  padding-top: .4rem;
  flex: 2;
}
.Job-content-top {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.Job-next-run {
  color: $gray;
  display: inline-block;
  margin-left: .5rem;
}
.Job-message {
  color: $red;
  display: block;
  margin-top: .25rem;
}
