.Job {
  padding: 1rem .75rem 1rem 3.5rem;
  position: relative;
}

/// Icons
.Job-icon {
  color: var(--gray);
  left: .75rem;
  position: absolute;
  top: .6rem;
}
.Job-icon-ok {
  color: var(--green);
}
.Job-icon-error {
  color: var(--red);
}

/// Content
.Job-content {
}
.Job-content-top {
  display: flex;
  justify-content: space-between;
}

.Job-next-run {
  color: var(--gray);
  display: inline-block;
  margin-left: .5rem;
}
.Job-message {
  color: var(--red);
  margin-top: .625rem;
  overflow: scroll;
}
