@import '../_variables';

ol.jobs {
  list-style: none;
  margin: 8px 0;
  padding: 0;
  overflow-y: scroll;
  .job {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15)
  }
  .job-name {
    margin-left: 8px;
  }
  .job-error-msg {
    color: indianred;
    display: block;
    font-size: small;
    font-style: italic;
    text-align: center;
    width: 100%;
  }
}

span.jobs {
  color: lightgray;
  display: block;
  padding: 0.5em;
  width: 200px;
  text-align: center;
  margin: auto;
}

.StatusIcon-ok {
  color: $green;
}
.StatusIcon-error {
  color: $red;
}