// Colors, borrowed from:
// https://www.figma.com/blog/introducing-figma-community/
$black: #000000;
$blue: #6b9bf7;
$green: #0faa56;
$purple: #5551ff;
$red: #f24E1F;
$white: #ffffff;
$yellow: #ffc700;

$font-family: -apple-system, BlinkMacSystemFont, sans-serif;
$line-height: 1.25;
