html {
  font-family: Arial, Helvetica, sans-serif;
}

.config.row {
  align-items: center;
  color: darkgray;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  transition: all 200ms;
  &:hover {
    color: darkslategray;
  }
  &:hover i {
    transform: rotate(90deg);
  }
  .caption {
    margin-left: 4px;
  }
}
